@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .btn-primary {
    @apply p-2 bg-teal-400 rounded dark:bg-teal-500 hover:bg-teal-500 dark:hover:bg-teal-600 transition-all shadow disabled:bg-teal-600;
  }

  .btn-secondary {
    @apply p-2 border border-teal-400 rounded dark:border-teal-500 hover:bg-teal-400 hover:dark:bg-teal-600 hover:dark:border-teal-600 transition-all;
  }

  @screen md {
    .grid-container {
      grid-template-columns: 2fr 6fr;
    }
  }
  @screen lg {
    .grid-container {
      grid-template-columns: 2fr 4fr 2fr;
    }
  }
}
